<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dice Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dice.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/penguins">Penguins</a></li>
        <li><a href="/dicegame">Dice</a></li>
      </ul>
    </nav>
    <h1>You rolled a {{ num }}. You {{ result }}!</h1>
  </body>
</html>
